* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "montserrat", "poppins";
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 34px;
  background-color: #fff;
}

.items h4 {
  font-weight: 400;
  font-size: 30px;
  color: #000;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.presentation h3 {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 30px;
}

.presentation span {
  color: #ff2400;
}

.presentation p {
  font-family: "Poppins";
  font-size: 25px;
}

.container_floating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -78px;
}

.floating_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ff2400;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.18);
}

.floating_items {
  padding: 0 50px;
  height: 80px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ff2400;
}

.floating_items a {
  font-family: "Poppins";
  font-size: 20px;
  color: #000;
}

.contato {
  border: none;
}
