/*  background-color: rebeccapurple;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "poppins";
  background-color: rgba(216, 182, 250, 0.1);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 34px;
}

.items h4 {
  font-weight: 400;
  font-size: 30px;
  color: #000;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.presentation h3 {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 30px;
}

.presentation span {
  color: #9b3ef8;
}

.presentation p {
  font-size: 25px;
}

.container_floating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  padding: 12px;
  border: 1px solid #9b3ef8;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.18);
  /*margin-top: -75px;  N sei, ainda tou na duvida se coloco o menu logo a baixo da imagem como se ele tivesse sentado em cima do menu*/
}

.floating_items {
  padding: 0 50px;
  height: 80px;
  display: flex;
  align-items: center;
  border-right: 1px solid #9b3ef8;
}

.floating_items a {
  font-family: "Poppins";
  font-size: 20px;
  color: #000;
}

.contato {
  border: none;
}

.about {
  width: 100%;
  padding: 50px;
}

.container_about {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #c99de6;
}

.title h4 {
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 12px;
  font-size: 30px;
  color: #9b3ef8;
}

.content_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 33px;
}

.about_image img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #c99de6;
  transition: transform 0.4s ease-in-out;
}

.about_image img:hover {
  transform: scale(1.1);
}

.about_text {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  color: #000;
}

.container_skills {
  width: 100%;
  padding: 50px;
}

.skills {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.itens_skills {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.skills_text h4 {
  padding-bottom: 16px;
  font-size: 30px;
  color: #9b3ef8;
}

.skills_text p {
  font-weight: 400;
  font-size: 25px;
  color: #000;
}

.icons {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.containers_cards {
  width: 605px;
  height: 510px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items_cards {
  width: 210px;
  height: 210px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.5);
}

.items_cards h5 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.items_cards p {
  padding-top: 14px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #000;
}

.marginTop {
  margin-top: 40px;
  margin-right: 40px;
}

.studies_title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #9b3ef8;
  margin: 50px 0 50px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #c99de6;
}

.container_studies {
  width: 100%;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.content_studies {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.studies {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/*posso tirar o center disso depois se eu nao gostar COMENTARIO A APAGAR*/
.studies_span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  font-size: 25px;
  color: #9b3ef8;
}

.studies_paragraph {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-align: justify;
}

.studies_card {
  display: flex;
  width: 605px;
  height: 400px;
  flex-wrap: wrap;
}

.studies_future {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  height: 125px;
  padding: 20px;
  margin-left: 50px;
  border-radius: 8px;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  transition: border 0.2s ease;
}

.studies_future:hover {
  border: 1px solid #9b3ef8;
  transform: scale(1.1);
}

.container_projects {
  width: 100%;
  padding: 50px;
  margin: auto;
}

.projects_title h4 {
  font-weight: 600;
  font-size: 30px;
  color: #9b3ef8;
  padding-bottom: 12px;
  border-bottom: 1px solid #c99de6;
  margin: 20px auto;
  max-width: 1200px;
}

.projects_title {
  text-align: center;
  margin: auto;
}

.projects_title p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: justify;
  color: #000;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects_title span {
  color: #9b3ef8;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 200px;

  border-radius: 6px;
  overflow: hidden;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.4);
}

.slide li img {
  display: block;
  max-width: 100%;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

/* Controles de navegação personalizado na aba projetos.*/
.custom-control {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.custom-control li {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transform: scale(0.8);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s;
}

.custom-control li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-control li img {
  width: auto;
  height: 100%;
}

.button-Nav {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.button-Nav button {
  width: 50px;
  height: 50px;
  background: rgba(216, 182, 250, 0.1) url("../assets/icons/arrow.svg") center
    center no-repeat;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #9b3ef8;
}

.button-Nav button.prev {
  transform: rotate(-180deg);
}

.container_contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.contact h4 {
  font-weight: 600;
  font-size: 30px;
  color: #9b3ef8;

  display: flex;
  text-align: center;
  justify-content: center;
}

.contact p {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 49px;
  color: #000;
}

.contact_icons {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 50px;
}

.icons_network {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  width: 210px;
  height: 210px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.5);
}

.icons_network img {
  display: flex;
  align-items: center;
  text-align: center;
}

.name_network {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}

.container_network_text {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: start;
}

.name_network_text {
  font-size: 1.1rem;
  padding: 10px;
}

.container_footer {
  background-color: #9b3ef8;
  color: #000;
  padding: 15px;
}

.container_footer span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.toggle {
  display: flex;
  align-items: center;
}

.toggle input {
  opacity: 0;
  position: absolute;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}

.toggle label {
  display: flex;
  align-items: center;
  background: rgba(187, 125, 248);
  width: 6rem;
  border-radius: 2rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.toggle label .box {
  background-color: #8a2be2;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.toggle input:checked + label .box,
.toggle input:checked + .box {
  transform: translateX(3rem);
  background: rgba(187, 125, 248);
}

.toggle input:checked + label {
  background-color: #8a2be2;
}

body.dark {
  background-color: #07091b;
}

.dark .mySpace {
  color: #8257e6;
}

.dark .paragraph,
.dark h3,
.dark .floating_items a,
.dark .items_cards h5 {
  color: #fff;
}

.dark .items_cards,
.dark .studies_future,
.dark .icons_network {
  background-color: rebeccapurple;
}

.dark .button-Nav button {
  background-color: #07091b;
}

.dark .container_footer {
  background: #040712;
}

.dark .container_footer span {
  color: #fff;
}
