$box-sizing: border-box;

$font-size-small: 13px;
$font-size-standard: 20px;
$font-size-sub-title: 25px;
$font-size-title: 30px;

$color-black: #000000;
$color-white: #fff;
$color-rebeccapurple: rebeccapurple;
$color-body: rgba(216, 182, 250, 0.1);
$color-slider:rgba(187, 125, 248);
$color-toggle-switch: #8a2be2;
$color-primary: #9b3ef8;
$color-border: #c99de6;
$color-mySpace: #8257e6;

$color-dark-mode: #07091b;
$color-dark-blue-mode: #040712;

$font-weight-min: 400;
$font-weight-max: 600;

$font-family-primary: "poppins";
$font-family-secundary: "Montserrat";

$max-width: 1200px;
$min-width: 800px;
$max-width-middle: 900px;
$width-100: 100%;

$toggle-width: 6rem;
$toggle-height: 2rem;
$toggle-radius: 2rem;
$box-size: 2rem;

